attrs==21.4.0
certifi==2022.6.15
charset-normalizer==2.1.0
filelock==3.7.1
huggingface-hub==0.8.1
idna==3.3
iniconfig==1.1.1
numpy==1.23.1
packaging==21.3
pandas==1.4.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.7.9
requests==2.28.1
scipy==1.8.1
six==1.16.0
tokenizer==3.4.1
tokenizers==0.12.1
tomli==2.0.1
torch==1.12.0
tqdm==4.64.0
transformers==4.20.1
typing_extensions==4.3.0
urllib3==1.26.10
